# Copyright (c) 2025 Tearnote (Hubert Maraszek)
#
# Licensed under the Mozilla Public License Version 2.0 <LICENSE-MPL-2.0.txt
# or https://www.mozilla.org/en-US/MPL/2.0/> or the Boost Software License <LICENSE-BSL-1.0.txt
# or https://www.boost.org/LICENSE_1_0.txt>, at your option. This file may not be copied, modified,
# or distributed except according to those terms.

name: Linux build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  packages: write

env:
  BUILD_TYPE: Release
  CMAKE_GENERATOR: Ninja Multi-Config
  USERNAME: Tearnote
  FEED_URL: https://nuget.pkg.github.com/Tearnote/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/Tearnote/index.json,readwrite"

jobs:
  linux-build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
            build-essential pkg-config ninja-build nasm mono-devel \
            libpipewire-0.3-dev libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libgl1-mesa-dev

      - name: Add NuGet sources
        shell: bash
        run: |
          VCPKG_EXE="$VCPKG_INSTALLATION_ROOT/vcpkg"
          NUGET_EXE=$($VCPKG_EXE fetch nuget | tail -n 1)
          mono "$NUGET_EXE" sources add \
            -Source "${{env.FEED_URL}}" \
            -StorePasswordInClearText \
            -Name GitHubPackages \
            -UserName "${{env.USERNAME}}" \
            -Password "${{secrets.GITHUB_TOKEN}}"
          mono "$NUGET_EXE" setapikey "${{secrets.GITHUB_TOKEN}}" \
            -Source "${{env.FEED_URL}}"

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -G "${{env.CMAKE_GENERATOR}}" -DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
