# Copyright (c) 2025 Tearnote (Hubert Maraszek)
#
# Licensed under the Mozilla Public License Version 2.0 <LICENSE-MPL-2.0.txt
# or https://www.mozilla.org/en-US/MPL/2.0/> or the Boost Software License <LICENSE-BSL-1.0.txt
# or https://www.boost.org/LICENSE_1_0.txt>, at your option. This file may not be copied, modified,
# or distributed except according to those terms.

name: Linux build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  BUILD_TYPE: Release
  CMAKE_GENERATOR: Ninja Multi-Config

jobs:
  linux-build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libssl-dev libicu-dev libvulkan-dev libglfw3-dev libavcodec-dev libavformat-dev libswresample-dev libpipewire-0.3-dev libarchive-dev libzstd-dev libfreetype-dev libpng-dev libharfbuzz-dev

      - name: Install boost
        uses: MarkusJx/install-boost@v2
        id: install-boost
        with:
          boost_version: 1.88.0
          platform_version: 24.04

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -G "${{env.CMAKE_GENERATOR}}"
        env:
          BOOST_ROOT: ${{steps.install-boost.outputs.BOOST_ROOT}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
